@{
    ViewData["Title"] = "About";
}

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/site.js"></script>
<link rel="stylesheet" href="~/css/site.css">
<style>
    
#Ray {
    font-size: 20px;
}
#Gwen {
    font-size: 40px;
}

</style>

<div style="
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 200px;
    height: 200px;">
    Hello <span style="
        color: white;
        background-color: black;">World</span>
    <div id="greetings"></div>
</div>

